@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

:root {
    --main-font-color: #a0a0a0;
    --main-accent-color: #2492ad;
    --secondary-accent-color: #25C5AD;
}
* {
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    color: var(--main-font-color);
}
.main-container {
    height: auto;
    margin: 15vh auto;
    padding: 30px;
    max-width: 80vw;
    border: 4px solid rgb(97, 196, 221);
    border-radius: 10px;
    overflow-y: auto;
    background-image: linear-gradient(to bottom right, rgb(240, 240, 240), #FFF, rgb(240, 240, 240));
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.feature-text {
    font-family: 'Cabin Sketch', Arial, Helvetica, sans-serif;
}


/* WELCOME PAGE */
.welcome-icons path {
    color: rgba(144, 247, 233, 0.534);
}
.brand-area svg {
    font-size: 50px;
    margin: 0 2vw;
}
.feature-text {
    font-size: 60px;
}
.shiny {
    background-image: -webkit-linear-gradient(left, var(--main-font-color), #71befd 37.5%, var(--secondary-accent-color), #41acc7 62.5%, var(--main-font-color));
    background-image: linear-gradient(90deg, var(--main-font-color), #71befd 37.5%, var(--secondary-accent-color), #41acc7 62.5%, var(--main-font-color) 75%);
    background-position: right center;
    background-size: 400% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: black;
    transition: color 200ms linear;
}
.shiny.initial-shine, .shiny:hover {
    background-position: left center;
    color: #71befd;
    transition: background-position 2000ms ease-out;
}
.btn {
    margin: 2vh 2vw;
}


/* INPUT FORM */
.input-item {
    margin-bottom: 20px;
}
.form-title {
    font-family: 'Cabin Sketch', Arial, Helvetica, sans-serif;
    margin-bottom: 4vh;
}
::placeholder {
    font-style: italic;
}
#error-message {
    color: red;
}
.input-form label {
    color: var(--secondary-accent-color);
    font-size: 1.2em;
    font-weight: bold;
}

/* RESULTS PAGE */
.result-box {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    padding: 0.5vh 0.5vw;
    height: 200px;
}
.result-heading {
    color: var(--main-accent-color);
    font-weight: bold;
}
.results-page path {
    color: var(--main-accent-color);
}
.results-page svg {
    font-size: 0.9em;
}
.inner-container{
    padding: 10px;
}
.restaurant-list a,
.hotels-list a,
.activity-list a {
    color: var(--secondary-accent-color);
}
.error,
.error path {
    color: #a0a0a0;
    font-family: Lato, sans-serif;
    font-weight: 100;
}
.daily-forecasts svg {
    font-size: 2.5em;
}
.weather-date,
.temps {
    text-align: center;
}
.daily-forecasts path {
    color: var(--secondary-accent-color);
}

@media only screen and (min-width: 600px){
    .brand-area svg {
        font-size: 65px;
    }
    .feature-text {
        font-size: 75px;
    }
    .main-container {
        max-width: 60vw;
    }
}

@media only screen and (min-width: 850px){
    .brand-area svg {
        font-size: 75px;
    }
    .feature-text {
        font-size: 95px;
    }
}
